<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseMovementScanner.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseMovementScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MouseMovementScanner.Settings1>
            <setting name="RunonStartup_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startminimized_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Playsound_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lockmachine_Setting" serializeAs="String">
                <value>False</value>
            </setting>
        </MouseMovementScanner.Settings1>
    </applicationSettings>
    <userSettings>
        <MouseMovementScanner.Properties.Settings>
            <setting name="RunonStartup_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startminimized_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Playsound_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lockmachine_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartonIdle_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDelay_Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdleControl_Settings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceKeyboard_Settings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceMouse_Settings" serializeAs="String">
                <value>False</value>
            </setting>
        </MouseMovementScanner.Properties.Settings>
    </userSettings>
</configuration>